body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("IMG_6517.png") repeat;
  width: auto;
  height: auto;
  background-size: contain;
}

a:focus {
  color: red;
}
a {
  color: white;
  font-size: 50px;
}
